<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331592827254-l2puom7jt3i35ejo2204ktmt84ov838j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331592827254-l2puom7jt3i35ejo2204ktmt84ov838j</string>
	<key>API_KEY</key>
	<string>AIzaSyDAQ6eenC6kSOlCafqKW_LJCgUMFn2WHeE</string>
	<key>GCM_SENDER_ID</key>
	<string>331592827254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeClone</string>
	<key>PROJECT_ID</key>
	<string>youtube-flutter-clone-393714</string>
	<key>STORAGE_BUCKET</key>
	<string>youtube-flutter-clone-393714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331592827254:ios:81eb98d41203444fc27a57</string>
</dict>
</plist>